:root {
    --accent: #1e4c34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

h1,
h2 .logo {
    font-family: "Playfair Display";
}

a {
    text-decoration: none;
    color: inherit;

}

li {
    list-style: none;
}

header {
    background-color: pink;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid plum;
}

.top-bar {
    background-color: var(--accent);
    text-align: center;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(160, 221, 193);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    margin: 0 auto;
}

.nav-links {
    display: none;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
        gap: 2.5rem;
    }
}

.nav-links a {
    font-weight: 400;
    color: black;

}

.logo {
    font-size: 55px;
    font-weight: 700;
    color: var(--accent);
}

.hero {
    height: 60vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;

}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;

}

.cta-btn {
    background-color: green;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    display: inline-block;
}

@media (min-width: 768px) {
    .nav-links {
        gap: 2.5rem;
    }

    .hero-content h1 {
        font-size: 4rem;
    }
}

.cta-btn:hover {
    background-color: darkgreen;
    color: white;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 1400px;
    ;
    margin: 0 auto;
    padding: 3rem 5%;


}

select {
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    outline: navy;
}

.filter-section {
    background-color: #1e4c34;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;


}

.main-content {
    padding: 2rem 5%;
}

.filter-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}